@page "/admin/edit/movies"
@using TicketMaster.Data.Services.Interfaces
@using TicketMaster.Objects
@inject IMovieService MS
<body>
    <AuthorizeView Roles="Administrator">
        <NotAuthorized>403 - You are not an admin</NotAuthorized>
        <Authorized>
    <h3>Edit Movies</h3>
    <div class="forms">
        <div class="formContainer">
            <form onsubmit="@createMovie">
                <input type="text" placeholder="Title of movie" @bind-value="M.Title" />
                <input type="text" placeholder="Description of movie" @bind-value="M.Description" />
                <input type="number" placeholder="Length in seconds" @bind-value="M.LengthInSeconds" />
                <input type="text" placeholder="Image source link" @bind-value="M.ImageSource" />
                <input type="text" placeholder="Release date" @bind-value="M.ReleaseDate" />
                <input type="number" placeholder="IMDb ID" @bind-value="M.ImdbId" />

                <button type="submit" class="buttonAdd">Create Movie</button>
            </form>
        </div>
        <div class="formContainer">
            <form onsubmit="@updateMovie">
                <input type="number" placeholder="ID of movie to update" @bind-value="M.Id" />
                <input type="text" placeholder="Title of movie" @bind-value="M.Title" />
                <input type="text" placeholder="Description of movie" @bind-value="M.Description" />
                <input type="number" placeholder="Length in seconds" @bind-value="M.LengthInSeconds" />
                <input type="text" placeholder="Image source link" @bind-value="M.ImageSource" />
                <input type="text" placeholder="Release date" @bind-value="M.ReleaseDate" />
                <input type="number" placeholder="IMDb ID" @bind-value="M.ImdbId" />
                <button type="submit" class="buttonEdit">Update Movie</button>
            </form>
        </div>
        <div class="formContainer">
            <form onsubmit="@deleteMovie">
                <input type="number" placeholder="Movie ID to delete" @bind-value="M.Id" />
                <button type="submit" class="buttonDelete">Delete Movie</button>
            </form>
        </div>
    </div>
    </Authorized>
    </AuthorizeView>
</body>
@code {
    private Movie M = new();
    private async Task createMovie()
    {
        await MS.CreateMovie(M);
    }

    private async Task updateMovie()
    {
        await MS.UpdateMovie(M);
    }

    private async Task deleteMovie()
    {
        await MS.DeleteMovie(M.Id);
    }
}
<style>
    .forms {
        display: flex;
        align-content: normal;
        justify-content: normal;
    }

    .formContainer {
        display: flex;
        align-content: normal;
        justify-content: normal;
        flex-direction: column;
    }

    .buttonDelete {
        background-color: red;
    }

    .buttonAdd {
        background-color: palegreen;
    }

    .buttonEdit {
        background-color: cornflowerblue;
    }
</style>
