@page "/admin/edit/locations"
@using TicketMaster.Data.Services.Interfaces
@using TicketMaster.Data.DTOs
@inject ILocationService LS
<body>
    <h3>Edit Locations</h3>
    <form onsubmit="@createLocation">
        <input type="text" placeholder="Name of location" @bind-value="L.Name" />
        <input type="text" placeholder="Address of location" @bind-value="L.Address" />
        <input type="number" placeholder="Max capacity" @bind-value="L.Capacity" />
        <input type="text" placeholder="Vendor ID" @bind-value="L.VendorId" />
        <button type="submit">Create Location</button>
    </form>
    <form onsubmit="@updateLocation">
        <input type="number" placeholder="Location ID" @bind-value="L.Id" />
        <input type="text" placeholder="Name of location" @bind-value="L.Name" />
        <input type="text" placeholder="Address of location" @bind-value="L.Address" />
        <input type="number" placeholder="Max capacity" @bind-value="L.Capacity" />
        <input type="text" placeholder="Vendor ID" @bind-value="L.VendorId" />
        <button type="submit">Update Location</button>
    </form>
    <form onsubmit="@deleteLocation">
        <input type="number" placeholder="Location ID to delete" @bind-value ="L.Id" />
        <button>Delete Location</button>
    </form>
</body>
@code {
    private LocationDTO L = new();
    private async Task createLocation()
    {
        await LS.CreateLocation(L);
    }

    private async Task updateLocation()
    {
        await LS.UpdateLocation(L);
    }

    private async Task deleteLocation()
    {
        await LS.DeleteLocation((int)L.Id);
    }

}
