@page "/admin/edit"

<!--
    Needed functionalities, admin creates, updates, deletes:
    - People
    - Movies
    - Locations
    - Screenings
    - Tickets
    - Vendors
-->

<body>
    <h3>AdminTestEnvironmentPage</h3>

    <ul>
        <li>
            <a href="/admin/edit/people">Edit People</a>
        </li>
        <li>
            <a href="/admin/edit/movies">Edit Movies</a>
        </li>
        <li>
            <a href="/admin/edit/locations">Edit Locations</a>
        </li>
        <li>
            <a href="/admin/edit/screenings">Edit Screenings</a>
        </li>
        <li>
            <a href="/admin/edit/tickets">Edit Tickets</a>
        </li>
        <li>
            <a href="/admin/edit/vendors">Edit Vendors</a>
        </li>
    </ul>
</body>

@code {

}
