@page "/admin/edit/tickets"
@using TicketMaster.Data.Services.Interfaces
@using TicketMaster.Objects
@inject ITicketMasterService TMS
<body>
    <h3>Edit Locations</h3>
    <form onsubmit="@createScreening">
        <input type="number" placeholder="ID of screening" @bind-value="T.OfScreeningId" />
        <input type="number" placeholder="ID of customer" @bind-value="T.CustomerId" />
        <input type="number" placeholder="Price of ticket" @bind-value="T.Price" />
        <input type="text" placeholder="Seat position" @bind-value="T.Seat" />
        <input type="number" placeholder="Status (0, 1, 2)" @bind-value="T.Status" />
        <input type="number" placeholder="ID of vendor" @bind-value="T.ByVendorId" />
        <input type="datetime" placeholder="Purchase time of ticket" @bind-value="T.PurchaseTime" />
        <button type="submit">Create Ticket</button>
    </form>
    <form onsubmit="@updateScreening">
        <input type="number" placeholder="ID of ticket to update" @bind-value="T.Id" />
        <input type="number" placeholder="ID of screening" @bind-value="T.OfScreeningId" />
        <input type="number" placeholder="ID of customer" @bind-value="T.CustomerId" />
        <input type="number" placeholder="Price of ticket" @bind-value="T.Price" />
        <input type="text" placeholder="Seat position" @bind-value="T.Seat" />
        <input type="number" placeholder="Status (0, 1, 2)" @bind-value="T.Status" />
        <input type="number" placeholder="ID of vendor" @bind-value="T.ByVendorId" />
        <input type="datetime" placeholder="Purchase time of ticket" @bind-value="T.PurchaseTime" />
        <button type="submit">Update Ticket</button>
    </form>
    <form onsubmit="@deleteScreening">
        <input type="number" placeholder="Ticket ID to delete" @bind-value="T.Id" />
        <button type="submit">Delete Ticket</button>
    </form>
</body>
@code {
    private TicketDTO T = new();
    private async Task createScreening()
    {

    }

    private async Task updateScreening()
    {

    }

    private async Task deleteScreening()
    {

    }
    public class TicketDTO
    {
        public int Id { get; set; }
        public int OfScreeningId { get; set; }
        public int CustomerId { get; set; }
        public float Price { get; set; }
        public string Seat { get; set; }
        public int Status { get; set; }
        public int ByVendorId { get; set; }
        public DateTime PurchaseTime { get; set; }
    }
}


