@page "/admin/edit/vendors"
@using TicketMaster.Data.Services.Interfaces
@using TicketMaster.Objects
@using TicketMaster.Data.DTOs
@inject IVendorService VS
<body>
    <h3>Edit Vendors</h3>
    <form onsubmit="@createVendor">
        <input type="text" placeholder="Username of Vendor" @bind-value="V.Username" />
        <input type="text" placeholder="Password of Vendor" @bind-value="V.PasswordHash" />
        <input type="text" placeholder="Email of Vendor" @bind-value="V.Email" />
        <input type="number" placeholder="ID of Location" @bind-value="V.LocationId" />
        <button type="submit">Create Vendor</button>
    </form>
    <form onsubmit="@updateVendor">
        <input type="number" placeholder="ID of Vendor to update" @bind-value="V.Id" />
        <input type="text" placeholder="Username of Vendor" @bind-value="V.Username" />
        <input type="text" placeholder="Password of Vendor" @bind-value="V.PasswordHash" />
        <input type="text" placeholder="Email of Vendor" @bind-value="V.Email" />
        <input type="number" placeholder="ID of Location" @bind-value="V.LocationId" />
        <button type="submit">Update Vendor</button>
    </form>
    <form onsubmit="@deleteVendor">
        <input type="number" placeholder="Vendor ID to delete" @bind-value="V.Id" />
        <button type="submit">Delete Vendor</button>
    </form>
</body>
@code {
    private VendorDTO V = new();
    private async Task createVendor()
    {
        await VS.CreateVendor(V);
    }

    private async Task updateVendor()
    {
        await VS.UpdateVendor(V);
    }

    private async Task deleteVendor()
    {
        await VS.DeleteVendor((int)V.Id);
    }
}

