@page "/API1"
@using TicketMaster.Data
@inject TicketMasterService TMS

<h3>ApiTestPage</h3>

<p role="status">Service: @api_av</p>

<ul ></ul>

@code {
    private string api_av = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        if (TMS.ServiceTest()) { api_av = "Injection Resource Available"; } else { api_av = "Injection Resource Unavailable"; }
    }

}
