@page "/mysqltest"
@inject TicketMaster.Objects.TicketmasterContext tmc
@using TicketMaster.Objects
@using Microsoft.EntityFrameworkCore

<h3>Mysql db test</h3>

@if (admins == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var admin in admins)
        {
            <li>@admin.Name , @admin.Email</li>
        }
    </ul>
}

@code {
    private List<Administrator> admins;

    protected override async Task OnInitializedAsync()
    {
        admins = await tmc.Administrators.ToListAsync();
    }
}
