@page "/"
@using TicketMaster.Data
@using TicketMaster.Objects
@inject TicketMasterService TMS

<PageTitle>Index</PageTitle>

<body>
    @code 
    {
        bool isLoaded = false;
        public List<Movie> fetchedMovies = new();
        public Dictionary<int, string> imgLinks = new();
        private string apiResult;
        protected override async Task OnInitializedAsync()
        {
            await FetchMovies();
            base.OnInitialized();
        }

        public async Task FetchMovies()
        {
            fetchedMovies = TMS.FetchMoviesBetween(1, 20);
            foreach (var movie in fetchedMovies)
            {
                await foreach (var imgSrc in TicketMasterService.ImageSrcLinkAsync(movie))
                {
                    if (imgSrc != null)
                    {
                        imgLinks.Add(movie.ImdbId, imgSrc);
                        break;
                    }
                    else
                    {
                        continue;
                    }
                }
            }
            isLoaded = true;
        }
        public TimeOnly GetMovieLength(int timeInSeconds)
        {
            int hour = timeInSeconds / 3600;
            timeInSeconds %= 3600;
            int minute = timeInSeconds / 60;
            timeInSeconds %= 60;
            int second = timeInSeconds;

            return new(hour, minute, second);
        }

        public string HrefMovieLink(Movie movie) => "/movie_" + movie.ImdbId;
    }
    @if (!isLoaded)
    {
        <p>Loading Movies...</p>
    }
    else 
    { 
        @foreach (var movie in fetchedMovies)
        {
            <NavLink href="@HrefMovieLink(movie)" class="text-decoration-none">
                <div class="card" style="width: 18rem;">
                    <img src="@imgLinks[movie.ImdbId]" class="card-img-top" alt="Card Image">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <h5 class="card-title">@GetMovieLength(movie.LengthInSeconds).ToShortTimeString()</h5>
                    </div>
                </div>
            </NavLink>
        }
    }
</body>