@page "/login"
@inject TicketMaster.Objects.TicketmasterContext tms

<h3>LoginPage</h3>

<form @onsubmit="GetUser" method="post">
    <input type="username" @bind-value="Model.Username"/>
    <br />
    <input type="password" @bind-value="Model.Password"/>
    <button type="submit">Login</button>
</form>

@if (valid)
{
    <p>Sikeres bejelentkezés</p>
    @if (isAdmin){
        <p>adminisztrátori bejelentkezés</p>
    }
}

@code {
    public bool valid = false;
    public bool isAdmin = false;
    private LUser Model { get; set; }

    protected override void OnInitialized() {
        Model = new();
    }

    private void GetUser() {
        string username;
        string password;
        isAdmin = false;
        if (tms.Users.Any(o => o.Username.CompareTo(Model.Username) == 0))
        {
            username = tms.Users.Where(o => o.Username == Model.Username).Select(o => o.Username).First();
            password = tms.Users.Where(o => o.Username == Model.Username).Select(o => o.PasswordHash).First();
        }
        else
        {
            username = tms.Administrators.Where(o => o.Name == Model.Username).Select(o => o.Name).First();
            password = tms.Administrators.Where(o => o.Name == Model.Username).Select(o => o.PasswordHash).First();
            isAdmin = true;
        }
        Console.WriteLine(Model.Username + " " + username);
        Console.WriteLine(Model.Password + " " + password);
        Console.WriteLine(valid = (username.Equals(Model.Username) && password.Equals(Model.Password)));
    }

    public class LUser {
        public string Username { get; set; }
        public string Password { get; set; }
    }
}
