@page "/screening/{screeningId}"
@using TicketMaster.Objects;
@inject TicketMaster.Data.Services.Interfaces.IScreeningService SS

<body>
    @if (screening != null) {
        <h3>Screening of @screening.OfMovie.Title on @screening.Time.ToString("yyyy-MM-dd HH:mm")</h3>
        <p>Filled slots: @screening.SeatsTaken</p>
        <button>Buy Ticket for screening</button>
    }
    else
    {
        <div style="display: flex; justify-content: center; align-items: center; height: 100vh">
            <div>
                <h2>Loading...</h2>
                <img src=".\Loading.gif" alt="..." style="width:128px;height:128px" />
            </div>
        </div>
    }
</body>


@code {
    [Parameter] public string ScreeningId { get; set; }

    private Screening screening = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            int id = int.Parse(ScreeningId);
            screening = (await SS.FetchScreenings()).Where(o => o.Id == id).First();
        } catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}
