@using TicketMaster.Authentication;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;

<div class="nav-menu">
    <ul>
    <li>
        <NavLink href="/" Match="NavLinkMatch.All" class="nav-link" activeclassname="active-link">
            🏠 Home
        </NavLink>
    </li>
    <li>
        <AuthorizeView Roles="User">
            <Authorized>
                Logout
            </Authorized>
            <NotAuthorized>
                <NavLink href="/login" class="nav-link" activeclassname="active-link">
                    🔒 Login
                </NavLink>
            </NotAuthorized>
        </AuthorizeView>
        </li>
    </ul>
</div>

@code {
}