<div class="nav-container">
    <ul class="no-bullet">
        <CascadingAuthenticationState>
            <li>
                <NavLink href="/" Match="NavLinkMatch.All" class="nav-link" activeclassname="active-link">
                    🏠 Home
                </NavLink>
            </li>
            <li>
                <NavLink href="/vendor" class="nav-link" activeclassname="active-link">
                    💵Vendor Station
                </NavLink>
            </li>
            <li>
                <NavLink href="/admin/edit" class="nav-link" activeclassname="active-link">
                    💻Admin Hub
                </NavLink>
            </li>
            <li>
                <AuthorizeView>
                    <Authorized>
                        ⚙️Profile Settings
                    </Authorized>
                    <NotAuthorized>
                        <NavLink href="/login" class="nav-link" activeclassname="active-link">
                            🔒 Login
                        </NavLink>
                    </NotAuthorized>
                </AuthorizeView>
            </li>
        </CascadingAuthenticationState>
    </ul>
</div>

@code {
    private bool isDropdownOpen = false;

    private void ToggleDropdown() => isDropdownOpen = !isDropdownOpen;
}