@inherits LayoutComponentBase
@inject ThemeService ThemeService
<CascadingAuthenticationState>
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="color: var(--accent-text-color);">Ticketmaster</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="theme-toggle">
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column d-flex" style="height: 90%;">
        <div class="nav-item px-3">
            <label class="theme-toggle">
                <input type="checkbox" checked="@ThemeService.IsLightTheme" @onchange="ToggleTheme" />
                <span class="slider"></span>
            </label>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Identity/Account/manage" Match="NavLinkMatch.All">
                            <span class="oi oi-wrench" aria-hidden="true"></span> Manage
                        </NavLink>
                    </div>

                    <div class="nav-item px-3" style="background-color: maroon">
                        <NavLink class="nav-link" href="Identity/Account/Logout" Match="NavLinkMatch.All">
                            <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                        </NavLink>
                    </div>
            </Authorized>
            <NotAuthorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Identity/Account/Login" Match="NavLinkMatch.All">
                            <span class="oi oi-account-login" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="Identity/Account/Register" Match="NavLinkMatch.All">
                            <span class="oi oi-plus" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
            </NotAuthorized>
        </AuthorizeView>
        
    </nav>
</div>
</div>
</CascadingAuthenticationState>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
@code {
    private async Task ToggleTheme(ChangeEventArgs e)
    {
        await ThemeService.ToggleThemeAsync();
    }
}