<div class="nav-menu">
    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All" class="nav-link" activeclassname="active-link">
                🏠 Home
            </NavLink>
        </li>
        <li>
            <NavLink href="/login" class="nav-link" activeclassname="active-link">
                🔒 Login
            </NavLink>
        </li>
    </ul>
</div>
